<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editing idea #<%= @idea.id %></h1>
      <form action="/ideas/<%= @idea.id %>/update">
        <input type="text" name="desc" class="form-control" value="<%= @idea.desc %>">
      </form>
    </div>
  </div>
</div>