<h1>Ideas</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>What's your idea?</h2>
      <form action="/create_idea">
        <input type="text" name="desc" class="form-control">
      </form>
      
      <ul>
      <% @ideas.each do |idea| %>
        <li>
          <%= idea.desc %>
          <a href="/ideas/<%= idea.id %>">Show</a> |
          <a href="/ideas/<%= idea.id %>/edit">Edit</a> |
          <a href="/ideas/<%= idea.id %>/destroy">Destroy</a> 
          
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>