<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>What's your idea?</h1>
      <form action="/create_idea">
        <input type="text" name="desc" class="form-control">
      </form>
    </div>
  </div>
</div>