<h1>Editing Comment #<%= @comment.id %></h1>

<form action="/comments/<%= @comment.id %>/update">
  <div>
    <label for="contents">contents</label><br />
    <input id="contents" name="contents" value="<%= @comment.contents  %>" type="text" />
  </div>
  <div>
    <label for="idea_id">idea_id</label><br />
    <input id="idea_id" name="idea_id" value="<%= @comment.idea_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


